header {
    text-align: center;
    padding: 3rem;
background-color: rgba(30, 41, 59, 0.8);
border-bottom: 2px solid #38bdf8;
}
section {
    padding: 2rem;
}
h2{
    margin-bottom: 1rem;
}
p {
    max-width: 800px;
    margin: 0 auto;
}
section div {
    display: grid;
    gap: 1rem;
}
section {
    text-align: center;
    padding: 3rem;
    background-color: rgba(30, 41, 59, 0.8);
    margin: 1rem;
    border-radius: 10px;
}
section div {
    background-color: rgba(30, 41, 59, 0.9);
    border-radius: 10px;
    padding: 1.5rem;
    margin: 1.5rem auto;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.3);
}
body {
    background-color: #f4f4f4;
}
body {
    background: url("background.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #e2e8f0;
    font-family: Arial, sans-serif;
}
details {
    margin: 1rem auto;
    max-width: 600px;
    background-color: rgba(30, 41, 59, 0.8);
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
}
summary {
    font-weight: bold;
    font-size: 1.1rem;
    color: #38bdf8;
}
details p {
    margin-top: 0.5rem;
}
.dropdown-row {
    display: Flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.dropdown-row details {
    width: 250px;
    transition: all 0.3 ease;
}
.dropdown-row details:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
}
details[open] {
    box-shadow: 0 0 20px rgba(59, 189, 248, 0.4);
}
.dropdown-row summary {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
}
.projects-container {
    display: flex;
    gap:20px;
    justify-content: center;
}
.project-card {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.project-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}